{% macro render() %}
  <div class="c-demo-notification c-demo-notification--hidden" data-demo-notification>
    <div class="c-demo-notification__background"></div>
    <button class="c-demo-notification__close" data-demo-notification-toggle>←</button>
    <div class="c-demo-notification__container">
      <div class="c-demo-notification__content">
        <h5 class="c-demo-notification__headline">¡Está probando ApostropheCMS!</h5>
        <p class="c-demo-notification__body">
          ¡Bienvenido a una experiencia de edición de ApostropheCMS! Esperamos que encuentre su camino en la experiencia de edición con
          facilidad. Si desea conocer más sobre nuestras soluciones comerciales y nuestro <a
            href="https://apostrophecms.com/assembly">Creador de sitios web B2B</a> Plataforma, <a
            href="https://apostrophecms.com/contact-us">Contactenos</a> ¡hoy dia! Si eres desarrollador y quieres iniciar tu propio proyecto,
          aquí es cómo <a href="https://docs.apostrophecms.org/getting-started/setting-up-your-environment.html">Empezando</a>
          con acceso a <a href="https://github.com/apostrophecms">Apostrophe en GitHub</a>.
        </p>
      </div>
      <div class="c-demo-notification__button">
        <a href="https://apostrophecms.com/contact-us" target="_blank">Ponerse en contacto</a>
      </div>
    </div>
  </div>
{% endmacro %}
