{% import 'navigation.html' as navigation %}
{% import 'macros/svgs.html' as svgs %}

{% macro render(home, currentPage, images) %}
  <footer class="o-background-light c-footer">
    <div class="o-container c-footer__inner">
      <div class="c-footer__nav">
        {{ navigation.render(home, currentPage, images) }}
      </div>
      <div class="o-body o-body--small c-footer__credit">
        <a class="c-footer__logo" href="/inicio">
          {{ svgs.apostropheLogo() }}
        </a>
        <a ><div id="google_translate_element"></div></a>
      </div>
    </div>
  </footer>
{% endmacro %}